* {
    margin: 0;
    padding: 0;
}

.width {
    width: 965px;
    margin: 0 auto;
}

header {
    padding-top: 35px;
}

#logo-img {
    float: left;
    width: 48px;
    height: auto;
    margin-right: 10px;
}

#brand-logo span {
    display: block;
}

#brand-logo span:nth-last-child(2) {
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    padding-top: 10px;
}

#brand-logo span:nth-last-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}

.socials {
    float: right;
    width: 26px;
    height: auto;
    margin-right: 2px;
    padding-top: 12px;
}

#brand-logo img:nth-of-type(4) {
    margin-right: 10px;
}

#brand-logo img:last-child {
    margin-right: 0;
}

#slash-hr {
    width: 100%;
    height: 13px;
    background-image: repeating-linear-gradient(
        45deg,
        black 0px,
        black 1px,
        transparent 1px,
        transparent 3px
    );
    margin-top: 25px;
}

main {
    margin-top: 60px;
}

article h1 {
    font-size: 40px;
    font-family: Impact, Helvetica, sans-serif;
}

#article-meta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}

#print, #print-icon {
    float: right;
    vertical-align: middle;
}

#print-icon {
    width: 14px;
    margin-right: 2px;
}

#main-image {
    margin-top: 30px;
}

#main-image img {
    width: 100%;
}

article p {
    font-size: 20px;
    margin-top: 28px;
    line-height: 28px;
    text-indent: 33px;
}